@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout1.cshtml";
 }

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Gracias!!</h2>
                    <span>Su orden ha sido completada exitosamente.</span>
                    <p>Tienda Virtual GP. Su tienda de confianza.</p>
                    <a href="@Url.Action("Index","Home")"> Ir a la pagina principal</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
